doctype html(lang='en')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  | &#x9;
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  // Include all compiled plugins (below), or include individual files as needed
  title Home
  |   
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // Bootstrap
    // link href="css/bootstrap.min.css" rel="stylesheet"
    style.
      .jumbotron{
      background-color:#32CD32;
      color:white;
      }
      /* Adds borders for tabs */
      .tab-content {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      }
      .nav-tabs {
      margin-bottom: 0;
      }
      .btn-default{
      color: #228B22;
      background-color: #	#0000CD;
      border-color: #285e8e;
      }
      .panel-default{
          color: #228B22;
          background-color: #	#0000CD;
          border-color: #285e8e;
          padding: 10px 20px;
          font-size: 20px;
          border-radius: 10px;
          width:40%;    //Specify your width here
          margin-top: 6px;
      }
      .li {
       display: inline-block;
      }

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
|   
body
    .pageheader
      h1#welcomeHeader Welcome To LearnLive #{name} !
    | &#x9;
    nav.navbar.navbar-default.navbar-light.bg-faded(role='naviagtion', style='background-color: #32CD32;')
      a.navbar-brand(href='#') LearnLive
      |     
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          |         
          li.nav-item
            a.nav-link(href='/CreateCourse') Create Course
          |        
          li.nav-item
            a.nav-link(href='#') My Docs
        | &#x9;&#x9;
        form.navbar-form.navbar-left(role='search')
          .form-group
            input.form-control(type='text', placeholder='Search')
          | &#x9;&#x9;&#x9;
          button.btn.btn-default(type='submit') Search
        | &#x9;&#x9;
        form.navbar-form.navbar-right(action='/', method='POST')
          button.btn.btn-default(type='submit') Logout
    |  
    .panel.panel-default.pull-right.clearfix
      // Default panel contents
      .panel-heading Courses
      |   
      .panel-body
       p Courses You are Currently Enrolled will show up here!
        ul#courses.list-group
         each val,index in coursesEnrolled
           if(val)
            li.list-group-item 
            span.sr-only (current)
            a(href = "http://localhost:8080/index?course=" + val[0]) #{val[1]} 
            .pull-right 
    |  
    .panel.panel-default.pull-left.clearfix
      // Default panel contents
      .panel-heading Courses
      |   
      .panel-body
        p New Courses Added To LearnLive will show up here!

      ul#courses.list-group
        each val,index in courseInfo
         if(val)
          li.list-group-item 
          span.sr-only (current)
          a(href = "http://localhost:8080/index?course=" + val[0]) #{val[1]} 
          .pull-right   
          a.btn.btn-default.btn-sm.pull-right(href = "http://localhost:8080/index/Enroll?course=" + val[0] + "&name=" + val[1]) Enroll
          |
    .panel.panel-default.pull-down.clearfix
      // Default panel contents
      .panel-heading Courses
      |   
      .panel-body
        p Course for which you are the Instructor !

      ul#courses.list-group
        each val,index in InstructorCourse
          li.list-group-item 
          span.sr-only (current)
          a(href = "http://localhost:8080/index?course=" + val[0]) #{val[1]} 
          .pull-right   
          a.btn.btn-default.btn-sm.pull-right(href = "http://localhost:8080/index/Edit?course=" + val[0] + "&name=" + val[1]) Edit
    //
      div class = "jumbotron" >
      <form class = "form-inline"role = "form" method = "post">
      <p>Creating a new form of education and learning through collaboaration</p>
      <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type = "submit" class = "btn-primary btn-lg">Login</button>
      <button type = "submit" class = "btn-primary btn-lg">Create New User</button>
      </form>
      </div--!>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
