doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Login
    // Bootstrap
    // link href="css/bootstrap.min.css" rel="stylesheet"
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    | &#x9;
    | &#x9;
    style.
      .jumbotron{
      background-color:#32CD32;
      color:white;
      font-size: 150%;
      }
      /* Adds borders for tabs */
      .tab-content {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      }
      .nav-tabs {
      margin-bottom: 0;
      }
      input.flat, textarea.flat {
      -webkit-transform-style: flat !important;
      }
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      |       
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    |
    body
    .container
      .pageheader
        h1 You have withdrawn from the Course!
      | &#x9;
      | &#x9;
      .jumbotron
        span.glyphicon.glyphicon-ok
        | &#x9;&#x9;Course Withdrawal was Succesfully ! 
        br
        | &#x9;&#x9;
        a(href='/index')  Click here to go back home
      // jQuery (necessary for Bootstrap's JavaScript plugins)
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
      // Include all compiled plugins (below), or include individual files as needed
      script(src='js/bootstrap.min.js')
